/* @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""),url(/static/media/roboto-v29-latin-regular.4673b453.woff2) format("woff2"),url(/static/media/roboto-v29-latin-regular.9b78ea3b.woff) format("woff")
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local(""),url(/static/media/roboto-v29-latin-500.86988841.woff2) format("woff2"),url(/static/media/roboto-v29-latin-500.ddd11dab.woff) format("woff")
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local(""),url(/static/media/roboto-v29-latin-900.153ba331.woff2) format("woff2"),url(/static/media/roboto-v29-latin-900.b555d228.woff) format("woff")
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(""),url(/static/media/roboto-v29-latin-700.0682ca7f.woff2) format("woff2"),url(/static/media/roboto-v29-latin-700.0344cc3c.woff) format("woff")
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    --color-background: #242b33;
    --color-primary: #effbff;
    --color-accent: #6ee2ff;
    --spacing-ui: 10px;
    background-color: var(--color-background);
    transition: background-color .3s;
    font-family: Roboto,sans-serif;
    font-size: 14px
}

a {
    color: var(--color-primary);
    text-decoration: none
}

.Table_TableContainer__UrXXd {
    width: 100%
}

.Table_TableContainer__UrXXd input {
  color: var(--color-primary);
  background-color: var(--color-background);
  border: var(--color-primary) 1px solid;
  padding-left: 10px;
}

.Table_Table__pinST {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: var(--color-primary);
    table-layout: fixed
}

.Table_Table__pinST tr {
  border-bottom: var(--color-primary) 1px solid;
  border-radius: 4px;
}

.Table_Table__pinST td,.Table_Table__pinST th {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis
}

.Table_Table__pinST th {
    --header-radius: 4px;
    background-color: var(--color-primary);
    color: var(--color-background)
}

.Table_Table__pinST th:first-child {
    border-top-left-radius: var(--header-radius);
    border-bottom-left-radius: var(--header-radius)
}

.Table_Table__pinST th:last-child {
    border-top-right-radius: var(--header-radius);
    border-bottom-right-radius: var(--header-radius)
}

.Table_Table__pinST td {
    transition: all .2s
}

.CompactTable_CompactTable__2k5uL {
    display: grid
}

.CompactTable_CompactTable__2k5uL span {
    color: var(--color-primary)
}

.CompactTable_CompactTable__2k5uL span:last-child {
    margin-bottom: 10px
}

.CompactTable_Separator__2DVBZ {
    border-bottom: 1px solid var(--color-primary);
    margin: 10px 0
}

.Spinner_Spinner__BWqNs,.Spinner_Spinner__BWqNs:after,.Spinner_Spinner__BWqNs:before {
    background: var(--color-primary);
    -webkit-animation: Spinner_load1__1BXDX 1s ease-in-out infinite;
    animation: Spinner_load1__1BXDX 1s ease-in-out infinite;
    width: 1em;
    height: 4em
}

.Spinner_Spinner__BWqNs {
    color: var(--color-primary);
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.Spinner_Spinner__BWqNs:after,.Spinner_Spinner__BWqNs:before {
    position: absolute;
    top: 0;
    content: ""
}

.Spinner_Spinner__BWqNs:before {
    left: -1.5em;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.Spinner_Spinner__BWqNs:after {
    left: 1.5em
}

@-webkit-keyframes Spinner_load1__1BXDX {
    0%,80%,to {
        box-shadow: 0 0;
        height: 4em
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em
    }
}

@keyframes Spinner_load1__1BXDX {
    0%,80%,to {
        box-shadow: 0 0;
        height: 4em
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em
    }
}

.Spinner_SpinnerWrapper__3JM2T {
    height: 150px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.Notification_Notification__2gEfE {
    width: 300px;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 4px;
    padding: 15px 10px;
    transition: all .25s;
    margin-bottom: 10px
}

.Notification_Notification__2gEfE:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
    cursor: pointer
}

.Notification_Notification__2gEfE:last-child {
    margin-bottom: 0
}

.Notification_NotificationOpen__1rVdu {
    -webkit-animation: Notification_slideIn__1h2u7 .3s;
    animation: Notification_slideIn__1h2u7 .3s
}

.Notification_NotificationClose__1qZe5 {
    -webkit-animation: Notification_slideOut__3r_Oi .3s;
    animation: Notification_slideOut__3r_Oi .3s;
    -webkit-transform: translateX(600px);
    transform: translateX(600px)
}

@-webkit-keyframes Notification_slideIn__1h2u7 {
    0% {
        -webkit-transform: translateX(600px);
        transform: translateX(600px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes Notification_slideIn__1h2u7 {
    0% {
        -webkit-transform: translateX(600px);
        transform: translateX(600px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes Notification_slideOut__3r_Oi {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(600px);
        transform: translateX(600px)
    }
}

@keyframes Notification_slideOut__3r_Oi {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(600px);
        transform: translateX(600px)
    }
}

.Modal_Modal__1-5dN {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.Modal_ModalClose__3Cav6 {
    background-color: transparent;
    visibility: hidden
}

.Modal_ModalOpen__xRwYI {
    background-color: rgba(0,0,0,.7);
    visibility: visible
}

.Layout_Container__2Hv3J {
    width: 100%;
    padding: 20px;
    margin: 0 auto
}

@media (min-width: 769px) {
    .Layout_Container__2Hv3J {
        width:90%
    }
}

@media (min-width: 1201px) {
    .Layout_Container__2Hv3J {
        padding:50px 250px
    }
}

.Home_SettingsButton__Qvn8C .iconify {
    color: var(--color-background);
    width: 90%
}

.ActionIcons_ActionIcons__l3_5q {
    display: -webkit-flex;
    display: flex
}

.ActionIcons_ActionIcons__l3_5q svg {
    width: 20px
}

.ActionIcons_ActionIcons__l3_5q svg:hover {
    cursor: pointer
}

.Headline_HeadlineTitle__3WjW5 {
    color: var(--color-primary);
    font-weight: 700
}

.Headline_HeadlineSubtitle__Aon5D {
    color: var(--color-primary);
    margin-bottom: 20px;
    font-weight: 400
}

.SectionHeadline_SectionHeadline__2gmr_ {
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 16px
}

.SettingsHeadline_SettingsHeadline__1VqV- {
    color: var(--color-primary);
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid var(--color-accent);
    display: inline-block
}

.InputGroup_InputGroup__1Nm_2 {
    margin-bottom: 15px
}

.InputGroup_InputGroup__1Nm_2 input,.InputGroup_InputGroup__1Nm_2 label,.InputGroup_InputGroup__1Nm_2 span,.InputGroup_InputGroup__1Nm_2 textarea {
    display: block
}

.InputGroup_InputGroup__1Nm_2 input,.InputGroup_InputGroup__1Nm_2 select,.InputGroup_InputGroup__1Nm_2 textarea {
    margin: 8px 0;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-background)
}

.InputGroup_InputGroup__1Nm_2 span {
    font-size: 12px;
    color: var(--color-primary)
}

.InputGroup_InputGroup__1Nm_2 span a {
    color: var(--color-accent)
}

.InputGroup_InputGroup__1Nm_2 label {
    color: var(--color-primary)
}

.InputGroup_InputGroup__1Nm_2 textarea {
    resize: none;
    height: 50vh
}

.InputGroup_InputGroup__1Nm_2 input[type=color] {
    all: unset
}

.ModalForm_ModalForm__KUznX {
    background-color: var(--color-background);
    color: var(--color-primary);
    border-radius: 6px;
    width: 95%;
    position: relative;
    padding: 50px
}

.ModalForm_ModalFormIcon__3Og8r {
    width: 40px;
    position: absolute;
    right: 5px;
    top: 5px
}

.ModalForm_ModalFormIcon__3Og8r:hover {
    cursor: pointer
}

@media (min-width: 430px) {
    .ModalForm_ModalForm__KUznX {
        width:90%
    }
}

@media (min-width: 800px) {
    .ModalForm_ModalForm__KUznX {
        width:70%
    }
}

@media (min-width: 1000px) {
    .ModalForm_ModalForm__KUznX {
        width:60%
    }
}

@media (min-width: 1400px) {
    .ModalForm_ModalForm__KUznX {
        width:40%
    }
}

.ActionButton_ActionButton__3Ckgw {
    border: 1.5px solid var(--color-accent);
    border-radius: 4px;
    color: var(--color-primary);
    padding: 5px 15px;
    transition: all .3s;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 250px;
    margin-right: 10px;
    margin-bottom: 20px
}

.ActionButton_ActionButton__3Ckgw:hover {
    background-color: var(--color-accent);
    color: var(--color-background);
    cursor: pointer
}

.ActionButton_ActionButtonIcon__oPDrT {
    --size: 20px;
    width: var(--size);
    height: var(--size)
}

.ActionButton_ActionButtonName__32SDW {
    display: -webkit-flex;
    display: flex
}

.Button_Button__1hnZa {
    padding: 8px 15px;
    border: 1px solid var(--color-accent);
    background-color: var(--color-background);
    color: var(--color-primary);
    border-radius: 4px
}

.Button_Button__1hnZa:hover {
    cursor: pointer;
    background-color: var(--color-accent);
    color: var(--color-background)
}

.Message_message__29Z38 {
    color: var(--color-primary)
}

.Message_message__29Z38 a {
    color: var(--color-accent);
    font-weight: 600
}

.Message_messageCenter__2vR-V {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: baseline;
    align-items: baseline;
    color: var(--color-primary);
    margin-bottom: 20px
}

.Message_messageCenter__2vR-V a,.Message_messageCenter__2vR-V span {
    color: var(--color-accent)
}

.Message_messageCenter__2vR-V a:hover {
    cursor: pointer
}

.Home_SettingsButton__Qvn8C {
    width: 35px;
    height: 35px;
    background-color: var(--color-accent);
    border-radius: 50%;
    position: fixed;
    bottom: var(--spacing-ui);
    left: var(--spacing-ui);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    opacity: .25;
    transition: all .3s;
    visibility: hidden
}

.Home_SettingsButton__Qvn8C:hover {
    cursor: pointer;
    opacity: 1
}

@media (min-width: 769px) {
    .Home_SettingsButton__Qvn8C {
        visibility:visible
    }
}

.Home_HomeSpace__2q0OU {
    height: 20px
}

.AppGrid_AppGrid__33iLW {
    display: grid;
    grid-template-columns: repeat(1,1fr)
}

@media (min-width: 430px) {
    .AppGrid_AppGrid__33iLW {
        grid-template-columns:repeat(2,1fr)
    }
}

@media (min-width: 670px) {
    .AppGrid_AppGrid__33iLW {
        grid-template-columns:repeat(3,1fr)
    }
}

@media (min-width: 900px) {
    .AppGrid_AppGrid__33iLW {
        grid-template-columns:repeat(4,1fr)
    }
}

.AppCard_AppCard__1V2_0 {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px
}

.AppCard_AppCardIcon__8ZZTq {
    width: 35px;
    height: 35px;
    margin-right: .5em
}

.AppCard_AppCardDetails__tbAhY {
    text-transform: uppercase
}

.AppCard_AppCardDetails__tbAhY h5 {
    font-size: 1em;
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: -4px
}

.AppCard_AppCardDetails__tbAhY span {
    color: var(--color-accent);
    font-weight: 400;
    font-size: .8em;
    opacity: 1;
    overflow: hidden;
}

@media (min-width: 500px) {
    .AppCard_AppCard__1V2_0 {
        padding:2px;
        border-radius: 4px;
        transition: all .1s
    }

    .AppCard_AppCard__1V2_0:hover {
        background-color: rgba(0,0,0,.2)
    }
}

.AppCard_CustomIcon__2hMRh {
    width: 90%;
    height: 90%;
    margin-top: 2px;
    margin-left: 2px;
    object-fit: contain
}

.BookmarkGrid_BookmarkGrid__26LlR {
    display: grid;
    grid-template-columns: repeat(1,1fr)
}

@media (min-width: 430px) {
    .BookmarkGrid_BookmarkGrid__26LlR {
        grid-template-columns:repeat(2,1fr)
    }
}

@media (min-width: 670px) {
    .BookmarkGrid_BookmarkGrid__26LlR {
        grid-template-columns:repeat(3,1fr)
    }
}

@media (min-width: 900px) {
    .BookmarkGrid_BookmarkGrid__26LlR {
        grid-template-columns:repeat(4,1fr)
    }
}

.BookmarkCard_BookmarkCard__1GmHc {
    margin-bottom: 30px
}

.BookmarkCard_BookmarkCard__1GmHc h3 {
    color: var(--color-accent);
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase
}
.BookmarkCard_BookmarkCard__1GmHc h3 a {
  color: var(--color-accent);
}

.BookmarkCard_BookmarkHeader__112bh:hover {
    cursor: pointer
}

.BookmarkCard_Bookmarks__YhsfD {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.BookmarkCard_Bookmarks__YhsfD a {
    line-height: 2;
    transition: all .25s;
    display: -webkit-flex;
    display: flex
}

.BookmarkCard_BookmarkCard__1GmHc a:hover {
    text-decoration: underline;
    padding-left: 10px
}

.BookmarkCard_BookmarkIcon__2c2C5 {
    width: 20px;
    height: 20px;
    display: -webkit-flex;
    display: flex;
    margin-top: 3px;
    margin-right: 2px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.BookmarkCard_BookmarkIconSvg__3AFp_ {
    width: 80%;
    height: 80%;
    margin-top: 2px;
    margin-left: 2px;
    object-fit: contain
}

.BookmarkCard_CustomIcon__2I7Wo {
    width: 90%;
    height: 90%;
    margin-top: 2px;
    object-fit: contain
}

.SearchBar_SearchBar__2Pbl1 {
    width: 100%;
    padding: 10px 0;
    color: var(--color-primary);
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-accent);
    opacity: .5;
    transition: all .2s
}

.SearchBar_SearchBar__2Pbl1:focus {
    opacity: 1;
    outline: none
}

.Header_Header__2oavH h1 {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 4em;
    display: inline-block
}

.Header_Header__2oavH p {
    color: var(--color-primary);
    font-weight: 300;
    text-transform: uppercase;
    height: 30px
}

.Header_HeaderMain__ZUhf5 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 2.5rem
}

.Header_SettingsLink__3ublJ {
    visibility: visible;
    color: var(--color-accent)
}

@media (min-width: 769px) {
    .Header_SettingsLink__3ublJ {
        visibility:hidden
    }
}

.WeatherWidget_WeatherWidget__1Wn8c {
    display: -webkit-flex;
    display: flex;
    visibility: hidden
}

.WeatherWidget_WeatherDetails__2JUm1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 16px;
    color: var(--color-primary);
    margin-left: 10px;
    font-weight: 500
}

.WeatherWidget_WeatherDetails__2JUm1 span:first-child {
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 5px
}

.WeatherWidget_WeatherDetails__2JUm1 span:last-child {
    padding-top: 5px
}

@media (min-width: 600px) {
    .WeatherWidget_WeatherWidget__1Wn8c {
        visibility:visible
    }
}

.Apps_ActionsContainer__1Nn5v {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.AppForm_Switch__2fvrb {
    text-decoration: underline
}

.AppForm_Switch__2fvrb:hover {
    cursor: pointer
}

.TableActions_TableActions__2_v2I {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.TableActions_TableAction__tc3XZ {
    width: 22px
}

.TableActions_TableAction__tc3XZ:hover {
    cursor: pointer
}

.Settings_Settings__2WEZf {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr
}

.Settings_SettingsNav__14rA1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.Settings_SettingsNavLink__1Eo-j {
    padding-left: 7px;
    border-left: 3px solid transparent;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 40px;
    transition: all .3s
}

.Settings_SettingsNavLink__1Eo-j:focus,.Settings_SettingsNavLink__1Eo-j:hover,.Settings_SettingsNavLinkActive__BWxtM {
    border-left: 3px solid var(--color-primary)
}

@media (min-width: 480px) {
    .Settings_Settings__2WEZf {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 500px) {
    .Settings_Settings__2WEZf {
        grid-template-columns:1fr 3fr
    }
}

.ThemePreview_ThemePreview__2akEy {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.ThemePreview_ThemePreview__2akEy:hover {
    cursor: pointer
}

.ThemePreview_ThemePreview__2akEy p {
    text-transform: capitalize;
    margin: 8px 0;
    color: var(--color-primary)
}

.ThemePreview_ColorsPreview__1zsZS {
    display: -webkit-flex;
    display: flex;
    border: 1px solid silver
}

.ThemePreview_ColorPreview__34jck {
    width: 50px;
    height: 50px
}

@media (min-width: 340px) {
    .ThemePreview_ColorPreview__34jck {
        width:40px;
        height: 40px
    }
}

.ThemeGrid_ThemerGrid__lljvq {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px
}

@media (min-width: 340px) {
    .ThemeGrid_ThemerGrid__lljvq {
        grid-template-columns:1fr 1fr
    }
}

@media (min-width: 680px) {
    .ThemeGrid_ThemerGrid__lljvq {
        grid-template-columns:1fr 1fr 1fr
    }
}

.ThemeBuilder_ThemeBuilder__2H2mb {
    margin-bottom: 30px
}

.ThemeBuilder_Buttons__1xGHJ button:not(:last-child) {
    margin-right: 10px
}

.ThemeCreator_ColorsContainer__3NLOS {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-bottom: 20px
}

.AppDetails_text__1zVc7 {
    color: var(--color-primary);
    margin-bottom: 15px
}

.AppDetails_text__1zVc7 a,.AppDetails_text__1zVc7 span {
    color: var(--color-accent)
}

.AppDetails_separator__3gemR {
    margin: 30px 0;
    border: 1px solid var(--color-primary)
}

.Bookmarks_ActionsContainer__1XPAS {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.Form_Switch__1wYhY {
    text-decoration: underline
}

.Form_Switch__1wYhY:hover {
    cursor: pointer
}

.NotificationCenter_NotificationCenter__2YqQV {
    position: fixed;
    right: var(--spacing-ui);
    bottom: var(--spacing-ui);
    max-width: 300px;
    z-index: 500;
    color: #fff
}
.Container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

/* .Container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 20px;
} */

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

@media (min-width: 769px) {
  .Container {
    /* padding: 25px 40px; */
    width: 90%;
  }
}

@media (min-width: 1201px) {
  .Container {
    padding: 50px 250px;
  }
}

.draggable {
  cursor: move;
  user-select: none;
}

.horwodimg img {
  max-width: 100%;
  height: auto;
}
