name: "Tag post merge"

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    branches:
      - "main"

jobs:
  changelog:
    name: Update change log
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Commit updated change log
        run: |
          python3.13 -m pip install -r requirements.txt
          gitchangelog > CHANGELOG.md
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add CHANGELOG.md
          git commit -m "doc: update CHANGELOG.md" || exit 0
          git push

      - name: Create tag
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/v${{ github.head_ref }}",
              sha: context.sha
            })
  build:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Prepare
        id: prepare
        run: |
          VERSION=${{ github.head_ref }}
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: build the image
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: "mhzawadi/dashbaord:${{ steps.prepare.outputs.version }}"
          file: ./docker/Dockerfile
